# Test against this verson of Node.js
environment:
    matrix:
    # node.js
    - nodejs_version: "6"

# Install scripts. (runs after repo cloning)
install:
    # Get the latest stable verson of Node.js or io.js
    - ps: Install-Product node $env:nodejs_version
    # install modules
    - npm install

# Post-install test scripts.
test_script:
    # Output useful info for debugging.
    - node --verson
    - npm --verson
    # run tests
    -npm run test

# Don't actually build
build: off
