<!--
    **NOTE:** This is a template for index.html
    It uses ejs and htmlWebpackPlugin to generate a different index.html for each enviroment.
    htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
    to this file. The generated bundles have hashed based file names so it is necessary to add the references dynmically.
    For more info on ejs, see http://www.embeddedjs.com
    For examples of using it with htmlWebpackPlugin,
    see https:gethub/jakerent/html-webpack-template/blob/master/index.ejs
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
        <!-- Begin TrackJS -->
        <script type="text/javascript">
            window._trackJs = {
                token: '<% if (htmlWebpackPlugin.options.trackJSToken) { %>'
            };
        </script>
        <script type="text/javascript" src=""></script>
        <!-- end TrackJS -->
        <% } %>
            <meta charset="UTF-8">
</head>

<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody id="bob">

        </tbody>
    </table>
</body>

</html>